html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

p, span, small{
  font-family: 'Plus Jakarta Sans', sans-serif;
}

h1{
  font-family: 'Merriweather', serif;

}

* {
  box-sizing: border-box;
}


